div {
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em 1em;
}

span {
    padding: 0.5em;
    margin: 0.5em 1em;
}

.root {
    background-color: antiquewhite;
}

.name {
    background-color: aqua;
}

.token {
    background-color: aquamarine;
}

.link {
    background-color: chartreuse;
}